<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Subject: <%= @subject %></h1>
    <h2> This email is from: <%= @from %> (<%= @name %>)</h2>
    <p>
    <%= @message %>
    </p>
  </body>
</html>
